/*! CustomCSS*/ :root
.toolbar-1t6TWx .iconWrapper-2OrFZ1 .icon-22AiRD {color:var(--main-color);} .toolbar-1t6TWx .iconWrapper-2OrFZ1:hover .icon-22AiRD {color:var(--hover-color);} 
.buttonWrapper-1ZmCpA .icon-3D60ES {color:var(--main-color);} 
.buttonWrapper-1ZmCpA:hover .icon-3D60ES {color:var(--hover-color);} .button-14-BFJ> .contents-18-Yxp>svg {color:var(--button-color);}
.container-PNkimc .header-2o-2hj {color: var(--main-color); font-weight: 600; text-shadow: 0 0 3px #000;}
.container-1r6BKw .base-1x0h_U {margin-left: 5px; color:var(--main-color); text-shadow: 0 0 3px #000;}
.defaultColor-1_ajX0 {color: var(--main-color);}
.container-3baos1:before, .container-3baos1:after {color:var(--main-color);}
.container-1r6BKw .topic-TCb_qw {color:var(--main-color);}
.rtcConnectionQualityFine-2J6i8z .pingForeground-2uAOZ3, .rtcConnectionStatusConnected-VRZDjy {color:var(--success-color);} 
.voiceUser-14U_Ns .avatarContainer-2inGBK:after{content:"";position:absolute;width:0;top:0;bottom:0;left:50%;background:linear-gradient(to right, var(--voice-user-color) 10%, transparent);opacity:.5;transition:all .1s ease-in-out,  width .15s ease-in-out;pointer-events:none;z-index:-1}
.voiceUser-14U_Ns .avatarSpeaking-3MqCHL{box-shadow:0 0 0 2px var(--voice-user-color),inset 0 0 3px rgba(0,0,0,0.5)}
.attachButtonPlus-jWVFah {-webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; width: 24px; height: 24px; fill:var(--main-color);}
.attachButton-2WznTc:hover .attachButtonPlus-jWVFah {-webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; width: 24px; height: 24px; fill:var(--hover-color);}
.attachButtonPlay-3iJ0mf {color: var(--main-color);}
.voiceUser-14U_Ns .icon-3BcwQu, .username-lm8y6T {color: var(--main-color);}
.buttonWrapper-1ZmCpA .icon-3D60ES {color:var(--main-color);}
.buttonWrapper-1ZmCpA:hover .icon-3D60ES {color:var(--hover-color);}