/*! CustomCSS*/
:root
    .wrapper__8436d:hover .childWrapper_a6ce15, .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15 {background: transparent !important;}
    .toolbar_e44302 .iconWrapper_e44302 .icon_e44302 {color: var(--main-color)!important;}
    .container_e44302 .topic_bf3bbb {color: var(--main-color) !important;}
    .toolbar_e44302 .iconWrapper_e44302.selected_e44302, .toolbar_e44302 .iconWrapper_e44302.icon_e44302.popout-open {background-color: transparent!important;}
    .container_e44302 .children_e44302 .title_e44302 { color: var(--main-color);}
    .container_ee69e0 .header_fd6364 .name_fd6364, .button_a79c58 {color: var(--main-color) !important;}
    .peopleList_e0840f .username_f3939d {color: var(--main-color) !important;}
    .actions_e05dae .actionButton_e01b91 .icon_e01b91 {color: #949494 !important;}
    .scroller_bf550a .header_bf550a, .defaultColor-HXu-5n, .text-sm-medium_bc6ffc, .text-sm-normal-3Zj3Iv {color: var(--main-color) !important;}
    .channelTextArea_d0696b .button_cecf00 { color: var(--main-color)!important;}
    .text-xs-bold__5467c .goalText_c75f85, .text-xs-normal__46d75, .count_c75f85 {color: var(--main-color) !important;}
    .container_b2ca13, .subtext_e06aad {color: var(--main-color) !important;}
    .headerText_cadaa5, .participantName_d22933, .header_e5cc00, .bottomControls_cadaa5, .controlIcon_ef18ee {color: var(--main-color) !important;}
    .headerText_cadaa5, .participantName_d22933, .header_e5cc00, .bottomControls_cadaa5, .controlIcon_ef18ee:hover {color: var(--background-modifier-selected)!important;}
    #app-mount .guilds_a4d4d9 .frame-oXWS21[class*=listItem] .button-Jt-tIg {color: var(--hover-color) !important;}
    .button_f67531>.contents-3ca1mk>svg {color: var(--hover-color); opacity: .7 !important;}
    /*.channelName-3KPsGw, .subtitle_d8bfb3 {color: var(--hover-color);}*/
    .wrapper_d8bfb3 .name_d8bfb3 {color: var(--hover-color);}
    .wrapper_d8bfb3:active .name_d8bfb3 {color: black;}
    .nameAndDecorators_f9647d {color: var(--hover-color) !important;}
    .premiumTrialAcknowledgedBadge-2QxbU_ {background-color: var(--hover-color) !important; color:black !important; }
    .avatar_f9647d {color: var(--hover-color) !important;}
    /*.wrapper__8436d:hover .childWrapper_a6ce15, .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15 {background-color:var(--svg-bcolor);}*/
    /*.toolbar-1t6TWx .iconWrapper-2OrFZ1 .icon-22AiRD {color:var(--main-color);} 
    .toolbar-1t6TWx .iconWrapper-2OrFZ1:hover .icon-22AiRD {color:var(--hover-color);}
    .toolbar-1t6TWx .iconWrapper-2OrFZ1.selected-1GqIat, .toolbar-1t6TWx .iconWrapper-2OrFZ1.icon-22AiRD.popout-open {background: none;}*/
    .wrapper-1BJsBx:hover .childWrapper-anI2G9, .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {background: transparent;}
    .buttonWrapper-1ZmCpA .icon-3D60ES {color:var(--main-color);} 
    .buttonWrapper-1ZmCpA:hover .icon-3D60ES {color:var(--hover-color);} .button-14-BFJ> .contents-18-Yxp>svg {color:var(--button-color);}
    .quickSelectValue-lImyM6 {color:var(--hover-color);}
    .quickSelectArrow-1QublR {color:var(--hover-color);}
    .channelTextArea-2VhZ6z .button-3AYNKb {color:var(--main-color);}
    .container-PNkimc .header-2o-2hj {color: var(--main-color); font-weight: 600; text-shadow: 0 0 3px #000;}
    .container-1r6BKw .base-1x0h_U {margin-left: 5px; color:var(--main-color); text-shadow: 0 0 3px #000;}
    .defaultColor-1_ajX0 {color: var(--main-color);}
    .container-2Pjhx- .name-uJV0GL {color: var(--main-color) !important;}
    .members-1998pB .member-3-YXUe .roleColor-rz2vM0[style*="color:"]:before, .members-1998pB .member-3-YXUe .roleColor-rz2vM0[style*="color:"]:after {background: var(--hover-color);}
    .privateChannels-1nO12o .channel-2QD9_O.selected-aXhQR6 .layout-2DM8Md:after, .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU:before {background: transparent;}
    .privateChannels-1nO12o .channel-2QD9_O.selected-aXhQR6 .linkButtonIcon-Mlm5d6 {color: var(--main-color);}
    .container-3baos1:before, .container-3baos1:after {color:var(--main-color);}
    .container-1r6BKw .topic-TCb_qw {color:var(--main-color);}
    .scrollableContainer-2NUZem {border: 2px solid var(--hover-color);}
    .title-eS5yk3 {white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: var(--main-color); line-height: 18px; font-weight: 600;}
    .subtext-3CDbHg {white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: var(--main-color); line-height: 13px;}
    .typeWindows-1za-n7>.wordmark-2iDDfm:before, .typeWindows-1za-n7>.wordmark-2iDDfm:after {color: var(--main-color) !important;}
    .rtcConnectionQualityFine-2J6i8z .pingForeground-2uAOZ3, .rtcConnectionStatusConnected-VRZDjy {color:var(--success-color);} 
    .voiceUser-14U_Ns .avatarContainer-2inGBK:after{content:"";position:absolute;width:0;top:0;bottom:0;left:50%;background:linear-gradient(to right, var(--voice-user-color) 10%, transparent);opacity:.5;transition:all .1s ease-in-out,  width .15s ease-in-out;pointer-events:none;z-index:-1} 
    .voiceUser-14U_Ns .avatarSpeaking-3MqCHL{box-shadow:0 0 0 2px var(--voice-user-color),inset 0 0 3px rgba(0,0,0,0.5)} 
    .voiceUser-14U_Ns .avatarSpeaking-3MqCHL:after{top:-2px;bottom:-2px;width:100px}
    .attachButtonPlus-jWVFah {-webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; width: 24px; height: 24px; fill:var(--main-color);}
    .attachButton-2WznTc:hover .attachButtonPlus-jWVFah {-webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; width: 24px; height: 24px; fill:var(--hover-color);}
    .attachButtonPlay-3iJ0mf {color: var(--main-color);}
    .voiceUser-14U_Ns .icon-3BcwQu, .username-lm8y6T {color: var(--main-color);}
    .buttonWrapper-1ZmCpA .icon-3D60ES {color:var(--main-color);}
    .buttonWrapper-1ZmCpA:hover .icon-3D60ES {color:var(--hover-color);}
    .winButton-iRh8-Z {color: var(--main-color);}
    .winButton-iRh8-Z:hover {color: var(--hover-color);}
    .typeWindows_a934d8>.winButton_a934d8:hover {background:linear-gradient(to right, var(--hover-color) 10%, transparent);opacity:.5;}
    .circleIconButton-jET_ig:hover, .circleIconButton-jET_ig.selected-ugP_am { background: var(--main-color); color: white;}
    .circleIconButton-jET_ig {background: rgba(0,0,0,0.3); color: var(--main-color);}
    .buttonContainer_d0696b .emojiButton_af14ca .sprite_af14ca {background-image: url(https://mysticentity.github.io/CustomBetterDiscordCSS/greenEmotesv2.png); filter: grayscale(0%)!important; background-position: 50%; background-repeat: no-repeat; width: 22px; height: 22px; display: block !important;}
    .wrapper-1ucjTd.modeUnread-1zpFdA .content-3at_AU .name-3_Dsmg, .wrapper-1ucjTd.modeUnread-1zpFdA .content-3at_AU .icon-1_QxNX{text-shadow: 0 0 0px !important; filter: none;}
    .theme-dark .headerNormal-T_seeN, /*A border for user profiles, popouts*/ .theme-dark .topSectionNormal-2-vo2m {background-color: rgba(0,0,0,0.4);border: 2px solid var(--main-color);}
    .headerTop-3C2Zn0{background-color: rgba(0,0,0,0.4);border-left: 2px solid var(--main-color);border-right: 2px solid var(--main-color);border-top: 2px solid var(--main-color);border-bottom: 2px solid var(--main-color);}
    .activity-11LB_k{background-color: rgba(0,0,0,0.4);border-left: 2px solid var(--main-color);border-right: 2px solid var(--main-color);border-bottom: 2px solid var(--main-color);}
    .message_d5deea .timestamp_ec86aa {text-align: center; color: var(--hover-color);}
    .username-Iwoq2j, .textOverflow-1Hn8ac {color: var(--main-color)!important;}
    .headerText-cdBwty {color:var(--main-color)!important;}
    .userActionMenu-3-DfuT .overflowMenuIcon-35A0oT {color:var(--main-color);}
    .headerText-1-WmDq .date-YN6TCS {color:var(--main-color);}
    .activityText_a31c43 .textRuler_ad923e .activityText_a31c43 {color:var(--hover-color);}
    .text-xs-bold__5467c.goalText_c75f85 {color:var(--main-color)!important;}
    button.button_f67531>.contents_dd4f85>.lottieIcon_f73ef7 path {fill: var(--main-color)!important;}
    .flowerStarContainer_ff7d90 > svg > path {fill: var(--main-color);}
    .messageCountIcon_d331f1>svg{color: var(--main-color);}
    .hasRead_d331f1 .messageCountText_d331f1 {color: var(--main-color);}
    .searchIcon_c1668f {color:var(--main-color)!important;}
    .textArea_a2b402::placeholder, .titleContainer_c1668f>.inputWrapper_f8bc55.flex_a2b402>inputMaxLength_a2b402.flex_a2b402>textarea::placeholder {color: var(--main-color);}                                         
    .sortDropdown_a6d69a, .sortDropdownText_a6d69a {background:black!important; color: var(--main-color) !important;}
    .sortDropdown_a6d69a .sortDropdownInner_a6d69a {color: var(--main-color)!important;}
    pre .hljs {background: rgba(0,0,0,.42); border: solid; color: var(--main-color);}
    .buttonInner_b385c8 {color:var(--main-color);}
    .tagsButton_a6d69a { background: rgba(0,0,0,.6); border: 2px solid; border-color: var(--main-color);}
    .tagsButtonInner_a6d69a {color:var(--main-color)!important;}
    .embed_ad0b71 .embedDescription_ad0b71 {color: var(--hover-color);}
    .lookFilled_dd4f85.colorBrand_dd4f85 {background: black; color: var(--main-color);}
    .markup_d6076c code.inline {background-color: rgba(255,255,255,.00); color: var(--main-color);}
    .users_a5bc92, .total_a5bc92 {color: var(--hover-color)!important;}
    .text-sm-semibold_d260b0 {color: var(--main-color);}
    .forumPostFormButton_c1668f {color:var(--main-color)!important;}
    .container_b2ca13 {color:var(--hovor-color);}
    .discrimBase-1VOoau {color: var(--main-color);}
    .customStatusText-3wj79x {color: var(--main-color);}
    .iconContainer_d8bfb3 .icon_d8bfb3 {color: var(--main-color);}                                          
    .text-md-medium-2avxhQ, .text-md-normal-304U3g {color: var(--main-color)!important;}
    .heading-lg-semibold__58a54 {color: var(--main-color)!important;}
    .closeButton_df5532>svg>path[fill*="currentColor"] {fill: var(--main-color);}
    .bd-settings-title {color: var(--main-color)}
    .theme-dark .closeButton_df5532 {border-color: var(--main-color);}
    .heading-xxl-extrabold__3d05f {color: var(--main-color);}
    .repliedMessage_ec86aa .repliedTextPreview_ec86aa .repliedTextContent_ec86aa {color: var(--main-color);}
    .repliedMessage_ec86aa .repliedTextPreview_ec86aa {opacity: 1.0;}                                          
    .channelTextArea_d0696b .placeholder_a552a6 {color:var(--main-color)!important;}
    .bd-settings-title:not(.bd-settings-group-title) {color: var(--main-color)!important;}
    .bd-name {color:var(--main-color);}
    .bd-meta {color:var(--hover-color);}
    .bd-addon-list .bd-addon-header>svg {fill:var(--main-color);}                                          
    .bd-addon-list .bd-addon-header {color: var(--main-color)!important;}
    
    @media only screen and (max-height: 900px)
  
    .medium_f9a4c9, .sizeMedium_ec75c1 { background-color: black;}    
    
    .footer_f9a4c9 {
        background-color: black;
    }
    
    .content_bd9e38, .header_bd9e38 {display:none;}
    .list-3FIpnh>div:first-child {
        padding-left: 24px;
        padding-right: 24px;
        background-color: black;
    }
    
    .mainCard_a6d69a {
        background-color: black;
        border-radius: 12px;
    }
    
    .tag-19iIl1, .tagsButton-4pwOKH, .pill_c993da.small_c993da {
        background-color: black;
    }
    
    .profilePanel-2PWEok {
    display: none;    
    }
    
    .theme-dark .container_b2ca13 {
        background-color: black;
    }
    
    .withTagAsButton_b2ca13, .withTagless_b2ca13 {
        background-color: black;}
    
        .form_a7d72e {
    background-color: black;}
    
    .container_b2ca13 .title_d1da5f {
        color: var(--main-color);
    }
    
    .button_adcaac.buttonColor_adcaac, .button_adcaac .buttonColor_adcaac {
        background-color: black;
        color: var(--main-color);
    }
    
    .search_a46bef .searchBar_a46bef, .libraryFilter_e0264e, .browseSearch-e9jF-f {
        background-color: black;
    }
    .bd-meta {
      color: var(--hover-color)!important;}
    
    .foreground_c44e94 {
        color: var(--main-color);
    }
    
    .UserDetails-dates-container svg { 
     fill: #13A10E !important;
    }
    
    .base_f23da8:hover{background:none;}
    .clickable_f23da8[aria-disabled=false]>.base_f23da8:hover, .clickable_f23da8[aria-selected=true]>.base_f23da8 {
        background-color:#eceae8!important; opacity: .6!important; }
    
    .contents_ec86aa > .header_ec86aa > .headerText_ec86aa >.username_ec86aa{
      display: inline-block;
      text-overflow: ellipsis;
      max-width: 30%;
      white-space: nowrap;
    }
    
    .roleName_e4010c{
    color:var(--main-color)!important;
    }
    
    .username_ec86aa{
        color: var(--text-normal)!important;
    }
    
    .unreadMentionsIndicatorBottom_fea3ef, .unreadMentionsBar_fea3ef:before, .unread_c10249:after, .mention_c10249:after {
        Display:none;
        }
    
    .roleName_e4010c{color:var(--main-color)!important;}
    
    .textarea_dde0a8::placeholder, .body-1Ukv50 .userInfoSection-2u2hir>.note-3M15gE>textarea::placeholder {
      color: var(--main-color);
    }
    
    .emoji_ad923e, .icon_ad923e {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    color: var(--main-color); 
    }
    
    .UserDetails-activity-container {
    color: var(--main-color);
    }
    
    .offline_a31c43 {
        opacity: 100%;
        filter: blur(0)!important;
    }
    
    .members_cbd271 .member_a31c43.offline_a31c43 .avatar_e9f61e {
        filter: grayscale(0%) blur(0);
    }
    
    .membersWrap_cbd271 {
        background: black;
    }
    .theme-dark .scroller_fea3ef {
        background: black;
    }
    
    .base_a4d4d9 .container_e44302 {
        background: black;
    }
    
    .scroller_e2e187 {
        background-color: black;
    }
    
    @font-face {
      font-family: 'Terminal';
      font-style: normal;
      font-weight: 400;
      src: url(https://mysticentity.github.io/CustomBetterDiscordCSS/vgaoem.fon) format('opentype');
      }
    
    .headerWrapper-3iTlIT {
      background-color: var(--user-popout-overlay);
      height: var(--profile-popout-picture-size);
    }
    
    .headerWrapper-3iTlIT > .avatarPositionPremium-1zPBq9 {
      top: 16px;
    }
    
    .avatarHoverTarget_f89da9 > .avatar-2Vndt_, svg.avatarHint_f89da9 {
      height: calc(var(--profile-popout-picture-size)) !important;
      width: calc(var(--profile-popout-picture-size)) !important;
      /*makes profile picture size (and its opacity filter on hover) in the profile popout bigger*/
    }
    
    svg.avatarHint_f89da9 {
      transition-duration: 200ms;
      transition-timing-function: ease-in-out;
      /*specifies transition setting when hovering over it*/
    }
    
    /* Makes the ClearVision logo green. because why not */
   @keyframes gradient-border {
    0%, 200% {
        background-position: 100% 0;
    }

    100% {
        background-position: -130% 0;
    }
}
.typeWindows_a934d8 > .wordmark_a934d8:before {
  background-image: linear-gradient(to right, #16ca0d, #17ce0d, #17d20d, #18d60e, #18db0e, #19df0e, #19e30e, #1ae70e, #1aeb0f, #1bf00f, #1bf40f, #1cf80f);
    animation: gradient-border 2s linear infinite;
    background-size: 400% 100%;
    color: transparent !important;
    -webkit-background-clip: text;
    position: relative;
    margin-bottom: 3px;
    z-index: 1;
  font-size: 14px;
}

.typeWindows_a934d8>.wordmark_a934d8:after {
  background-image: linear-gradient(to right, #16ca0d, #17ce0d, #17d20d, #18d60e, #18db0e, #19df0e, #19e30e, #1ae70e, #1aeb0f, #1bf00f, #1bf40f, #1cf80f);
    animation: gradient-border 2s linear infinite;
    background-size: 400% 100%;
    color: transparent !important;
    -webkit-background-clip: text;
    position: relative;
    margin-bottom: 0px;
    z-index: 1;
  font-size: 9px;
}
.wrapper_d8bfb3.modeUnreadImportant_d8bfb3 .link_d8bfb3 .linkTop_d8bfb3 .name_d8bfb3 {
  background-image: linear-gradient(to right, #16ca0d, #17ce0d, #17d20d, #18d60e, #18db0e, #19df0e, #19e30e, #1ae70e, #1aeb0f, #1bf00f, #1bf40f, #1cf80f);
    animation: gradient-border 2s linear infinite;
    background-size: 400% 100%;
    color: transparent !important;
    -webkit-background-clip: text;
    position: relative;
}
    
    /* Makes the ClearVision logo in the bottom left green. because why not */
    .container_b2ca13:before {
      background-image: linear-gradient(to left, #16ca0d, #17ce0d, #17d20d, #18d60e, #18db0e, #19df0e, #19e30e, #1ae70e, #1aeb0f, #1bf00f, #1bf40f, #1cf80f);
        animation: gradient-border 2s linear infinite;
        background-size: 400% 100%;
        color: transparent !important;
        -webkit-background-clip: text;
      
    }
      .container_b2ca13:after {
       background-image: linear-gradient(to left, #16ca0d, #17ce0d, #17d20d, #18d60e, #18db0e, #19df0e, #19e30e, #1ae70e, #1aeb0f, #1bf00f, #1bf40f, #1cf80f);
        animation: gradient-border 2s linear infinite;
        background-size: 400% 100%;
        color: transparent !important;
        -webkit-background-clip: text;
    }

    
    .nameTagWithCustomStatus-5c-v3-, .nameTag_be84f0, .username-1g6Iq1 {
    color: var(--main-color)!important;}
    .username_be84f0 {color:var(--main-color);}
    
    .tabBar-2hXqzU>.item-3XjbnG.selected-g-kMVV, .tabBar-2hXqzU>.item-3XjbnG, .tabBar-2hXqzU> .tabBarItem_b9fccc[style*="color: rgb(255, 255, 255)"] .item-3XjbnG {
    color: var(--main-color)!important;}
    
    .additionalActionsIcon-3Cy8UU {
    background: url(https://mysticentity.github.io/CustomBetterDiscordCSS/Expand_More.svg) center/36px no-repeat !important;}
      
      .textarea_dde0a8::placeholder {
      color: #13A10E;
    }
      .inputDefault-3FGxgL, .input-2g-os5, .input_df4dd0::placeholder {
          color:var(--main-color)!important;
    }
    
    .connectedAccountNameText-2m46Qn {
    color: var(--main-color)!important;
    }
      
    .textarea_dde0a8::placeholder, .body-1Ukv50 .userInfoSection-2u2hir>.note-3M15gE>textarea::placeholder {
      color: var(--main-color);
    }
     .placeholder_a552a6 {
      color: var(--main-color)!important;
    }
    
    .tabBar_c2739c .item_c2739c {
        color: var(--main-color)!important;
    }
    
    .input__48d49 {
        background: black;
    }
    
    .container__33507 {
        background-color: var(--main-color);
    }
    
    .tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c[aria-selected=true] {
        background-color: var(--background-modifier-selected);}
    
        .input_de812f {
        background-color: black;
    }
    
    .addFriendInputWrapper_de812f {
        background-color: black;
        box-shadow: 0 0 0 2px var(--main-color);
        border: none;
    }
    .lookFilled_dd4f85.colorBrand_dd4f85:disabled, .lookFilled_dd4f85.colorBrand_dd4f85[aria-disabled=true] {
        background-color: var(--main-color)!important;
    }
    
    .actionButtons_adcaac {
    background-color: black;
    }
    
    .container_adcaac {
        border-color: rgba(0,0,0,0);
        background-color: black;
    }
    
    .button_adcaac.buttonColor_adcaac.buttonActive_adcaac {
        color: var(--main-color);
        background-color: var(--background-modifier-selected);
    }
    
    .button_adcaac.buttonColor_adcaac.buttonActive_adcaac:hover {
        color: var(--main-color);
        background-color: var(--background-modifier-selected)!important;
    }
    
    .text-sm-medium_bc6ffc, .text-sm-normal__95a78 {
        color: var(--main-color)!important;
    }
    
    .button_f67531 {
        opacity: 1;
        color: var(--main-color);
    }
    
    .panels_a4d4d9>:first-child {
        background-color: black;
    }
    
    .searchBar_f0963d .searchBarComponent_f0963d {
        color: var(--main-color);
    }
    
    .container_adcaac {
        background-color:black;
    }
    
    .button_adcaac.buttonColor_adcaac.buttonActive_adcaac:hover {
        color: var(--main-color);
        background-color: var(--background-modifier-selected);
    }
    
    .headerText_cadaa5, .participantName_d22933, .header_e5cc00, .bottomControls_cadaa5, .controlIcon_ef18ee:hover {color: var(--background-modifier-selected)!important;}
    
    .scrollerBase_eed6a8 {
        background-color: black!important;
    }
    
    .panelBanner_c3e427 {
      background-color: black!important;
    ;
    }
    
    .userPanelOverlayBackground_a2b6ae, .userProfileModalOverlayBackground_c69a7b {
        background-color: black!important;
    }
    
    .defaultColor_e9e35f {
        color: var(--main-color)!important;
    }
    
    .userTagUsernameBase_c9ccf6 {
        color: var(--hover-color);
    }
    
    .icon_d8bfb3 {
        color: var(--main-color)!important;
    }
