/*! CustomCSS*/
:root
    .wrapper__8436d:hover .childWrapper_a6ce15, .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15 {background: transparent !important;}
    .toolbar__62fb5 .iconWrapper_de6cd1 .icon_ae0b42 {color: var(--main-color)!important;}
    .container__26baa .topic__16ae3 {color: var(--main-color) !important;}
    .toolbar__62fb5 .iconWrapper_de6cd1.selected__1fc53, .toolbar__62fb5 .iconWrapper_de6cd1.icon_ae0b42.popout-open {background-color: transparent!important;}
    .container__26baa .children_cde9af .title__84e16 { color: var(--main-color);}
    .container__7e23c .header__77c95 .name_e8e549, .button__84b6b {color: var(--main-color) !important;}
    .peopleList_d2f527 .username__267df {color: var(--main-color) !important;}
    .actions_bd37ed .actionButton__2b4bb .icon__4ee3f {color: #949494 !important;}
    .scroller__7c25e .header_c56a27, .defaultColor-HXu-5n, .text-sm-medium_bc6ffc, .text-sm-normal-3Zj3Iv {color: var(--main-color) !important;}
    .channelTextArea__648e5 .button__437ce { color: var(--main-color)!important;}
    .text-xs-bold__5467c .goalText__38c12, .text-xs-normal__46d75, .count_fe6538 {color: var(--main-color) !important;}
    .container_debb33, .subtext_ce73b4 {color: var(--main-color) !important;}
    .headerText_f4ced9, .participantName__35466, .header__43611, .bottomControls_bb6a85, .controlIcon__73723 {color: var(--main-color) !important;}
    .headerText_f4ced9, .participantName__35466, .header__43611, .bottomControls_bb6a85, .controlIcon__73723:hover {color: var(--background-modifier-selected)!important;}
    #app-mount .guilds__2b93a .frame-oXWS21[class*=listItem] .button-Jt-tIg {color: var(--hover-color) !important;}
    .button_ae40a4>.contents-3ca1mk>svg {color: var(--hover-color); opacity: .7 !important;}
    /*.channelName-3KPsGw, .subtitle_eb6026 {color: var(--hover-color);}*/
    .wrapper__612a5 .name__4eb92 {color: var(--hover-color);}
    .wrapper__612a5:active .name__4eb92 {color: black;}
    .nameAndDecorators_c896d6 {color: var(--hover-color) !important;}
    .premiumTrialAcknowledgedBadge-2QxbU_ {background-color: var(--hover-color) !important; color:black !important; }
    .avatar__7bd22 {color: var(--hover-color) !important;}
    /*.wrapper__8436d:hover .childWrapper_a6ce15, .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15 {background-color:var(--svg-bcolor);}*/
    /*.toolbar-1t6TWx .iconWrapper-2OrFZ1 .icon-22AiRD {color:var(--main-color);} 
    .toolbar-1t6TWx .iconWrapper-2OrFZ1:hover .icon-22AiRD {color:var(--hover-color);}
    .toolbar-1t6TWx .iconWrapper-2OrFZ1.selected-1GqIat, .toolbar-1t6TWx .iconWrapper-2OrFZ1.icon-22AiRD.popout-open {background: none;}*/
    .wrapper-1BJsBx:hover .childWrapper-anI2G9, .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {background: transparent;}
    .buttonWrapper-1ZmCpA .icon-3D60ES {color:var(--main-color);} 
    .buttonWrapper-1ZmCpA:hover .icon-3D60ES {color:var(--hover-color);} .button-14-BFJ> .contents-18-Yxp>svg {color:var(--button-color);}
    .quickSelectValue-lImyM6 {color:var(--hover-color);}
    .quickSelectArrow-1QublR {color:var(--hover-color);}
    .channelTextArea-2VhZ6z .button-3AYNKb {color:var(--main-color);}
    .container-PNkimc .header-2o-2hj {color: var(--main-color); font-weight: 600; text-shadow: 0 0 3px #000;}
    .container-1r6BKw .base-1x0h_U {margin-left: 5px; color:var(--main-color); text-shadow: 0 0 3px #000;}
    .defaultColor-1_ajX0 {color: var(--main-color);}
    .container-2Pjhx- .name-uJV0GL {color: var(--main-color) !important;}
    .members-1998pB .member-3-YXUe .roleColor-rz2vM0[style*="color:"]:before, .members-1998pB .member-3-YXUe .roleColor-rz2vM0[style*="color:"]:after {background: var(--hover-color);}
    .privateChannels-1nO12o .channel-2QD9_O.selected-aXhQR6 .layout-2DM8Md:after, .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU:before {background: transparent;}
    .privateChannels-1nO12o .channel-2QD9_O.selected-aXhQR6 .linkButtonIcon-Mlm5d6 {color: var(--main-color);}
    .container-3baos1:before, .container-3baos1:after {color:var(--main-color);}
    .container-1r6BKw .topic-TCb_qw {color:var(--main-color);}
    .scrollableContainer-2NUZem {border: 2px solid var(--hover-color);}
    .title-eS5yk3 {white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: var(--main-color); line-height: 18px; font-weight: 600;}
    .subtext-3CDbHg {white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: var(--main-color); line-height: 13px;}
    .typeWindows-1za-n7>.wordmark-2iDDfm:before, .typeWindows-1za-n7>.wordmark-2iDDfm:after {color: var(--main-color) !important;}
    .rtcConnectionQualityFine-2J6i8z .pingForeground-2uAOZ3, .rtcConnectionStatusConnected-VRZDjy {color:var(--success-color);} 
    .voiceUser-14U_Ns .avatarContainer-2inGBK:after{content:"";position:absolute;width:0;top:0;bottom:0;left:50%;background:linear-gradient(to right, var(--voice-user-color) 10%, transparent);opacity:.5;transition:all .1s ease-in-out,  width .15s ease-in-out;pointer-events:none;z-index:-1} 
    .voiceUser-14U_Ns .avatarSpeaking-3MqCHL{box-shadow:0 0 0 2px var(--voice-user-color),inset 0 0 3px rgba(0,0,0,0.5)} 
    .voiceUser-14U_Ns .avatarSpeaking-3MqCHL:after{top:-2px;bottom:-2px;width:100px}
    .attachButtonPlus-jWVFah {-webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; width: 24px; height: 24px; fill:var(--main-color);}
    .attachButton-2WznTc:hover .attachButtonPlus-jWVFah {-webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; width: 24px; height: 24px; fill:var(--hover-color);}
    .attachButtonPlay-3iJ0mf {color: var(--main-color);}
    .voiceUser-14U_Ns .icon-3BcwQu, .username-lm8y6T {color: var(--main-color);}
    .buttonWrapper-1ZmCpA .icon-3D60ES {color:var(--main-color);}
    .buttonWrapper-1ZmCpA:hover .icon-3D60ES {color:var(--hover-color);}
    .winButton-iRh8-Z {color: var(--main-color);}
    .winButton-iRh8-Z:hover {color: var(--hover-color);}
    .typeWindows_e41dab>.winButton_f17fb6:hover {background:linear-gradient(to right, var(--hover-color) 10%, transparent);opacity:.5;}
    .circleIconButton-jET_ig:hover, .circleIconButton-jET_ig.selected-ugP_am { background: var(--main-color); color: white;}
    .circleIconButton-jET_ig {background: rgba(0,0,0,0.3); color: var(--main-color);}
    .buttonContainer_ff1010 .emojiButton__176c8 .sprite__294b3 {background-image: url(https://mysticentity.github.io/CustomBetterDiscordCSS/greenEmotesv2.png); filter: grayscale(0%)!important; background-position: 50%; background-repeat: no-repeat; width: 22px; height: 22px; display: block !important;}
    .wrapper-1ucjTd.modeUnread-1zpFdA .content-3at_AU .name-3_Dsmg, .wrapper-1ucjTd.modeUnread-1zpFdA .content-3at_AU .icon-1_QxNX{text-shadow: 0 0 0px !important; filter: none;}
    .theme-dark .headerNormal-T_seeN, /*A border for user profiles, popouts*/ .theme-dark .topSectionNormal-2-vo2m {background-color: rgba(0,0,0,0.4);border: 2px solid var(--main-color);}
    .headerTop-3C2Zn0{background-color: rgba(0,0,0,0.4);border-left: 2px solid var(--main-color);border-right: 2px solid var(--main-color);border-top: 2px solid var(--main-color);border-bottom: 2px solid var(--main-color);}
    .activity-11LB_k{background-color: rgba(0,0,0,0.4);border-left: 2px solid var(--main-color);border-right: 2px solid var(--main-color);border-bottom: 2px solid var(--main-color);}
    .message_ccca67 .timestamp_c79dd2 {text-align: center; color: var(--hover-color);}
    .username-Iwoq2j, .textOverflow-1Hn8ac {color: var(--main-color)!important;}
    .headerText-cdBwty {color:var(--main-color)!important;}
    .userActionMenu-3-DfuT .overflowMenuIcon-35A0oT {color:var(--main-color);}
    .headerText-1-WmDq .date-YN6TCS {color:var(--main-color);}
    .activityText__31c22 .textRuler__66fea .activityText__31c22 {color:var(--hover-color);}
    .text-xs-bold__5467c.goalText__38c12 {color:var(--main-color)!important;}
    button.button_ae40a4>.contents__322f4>.lottieIcon_c7076c path {fill: var(--main-color)!important;}
    .flowerStarContainer__00f61 > svg > path {fill: var(--main-color);}
    .messageCountIcon__8c6fd>svg{color: var(--main-color);}
    .hasRead_bfaa11 .messageCountText__0393e {color: var(--main-color);}
    .searchIcon__22803 {color:var(--main-color)!important;}
    .textArea__6e373::placeholder, .titleContainer_e517ed>.inputWrapper_ecb776.flex__4f099>inputMaxLength__842f4.flex__4f099>textarea::placeholder {color: var(--main-color);}                                         
    .sortDropdown__40a16, .sortDropdownText__125ae {background:black!important; color: var(--main-color) !important;}
    .sortDropdown__40a16 .sortDropdownInner_c71d90 {color: var(--main-color)!important;}
    pre .hljs {background: rgba(0,0,0,.42); border: solid; color: var(--main-color);}
    .buttonInner__865de {color:var(--main-color);}
    .tagsButton__34537 { background: rgba(0,0,0,.6); border: 2px solid; border-color: var(--main-color);}
    .tagsButtonInner_c1ff90 {color:var(--main-color)!important;}
    .embed_cc6dae .embedDescription_f5043f {color: var(--hover-color);}
    .lookFilled__950dd.colorBrand__27d57 {background: black; color: var(--main-color);}
    .markup_a7e664 code.inline {background-color: rgba(255,255,255,.00); color: var(--main-color);}
    .users__65981, .total_c01838 {color: var(--hover-color)!important;}
    .text-sm-semibold_d260b0 {color: var(--main-color);}
    .forumPostFormButton_bdd97b {color:var(--main-color)!important;}
    .container_debb33 {color:var(--hovor-color);}
    .discrimBase-1VOoau {color: var(--main-color);}
    .customStatusText-3wj79x {color: var(--main-color);}
    .iconContainer__6a580 .icon__67ab4 {color: var(--main-color);}                                          
    .text-md-medium-2avxhQ, .text-md-normal-304U3g {color: var(--main-color)!important;}
    .heading-lg-semibold__58a54 {color: var(--main-color)!important;}
    .closeButton__8177f>svg>path[fill*="currentColor"] {fill: var(--main-color);}
    .bd-settings-title {color: var(--main-color)}
    .theme-dark .closeButton__8177f {border-color: var(--main-color);}
    .heading-xxl-extrabold__3d05f {color: var(--main-color);}
    .repliedMessage__636d2 .repliedTextPreview__1a8a4 .repliedTextContent_b12fe1 {color: var(--main-color);}
    .repliedMessage__636d2 .repliedTextPreview__1a8a4 {opacity: 1.0;}                                          
    .channelTextArea__648e5 .placeholder_dec8c7 {color:var(--main-color)!important;}
    .bd-settings-title:not(.bd-settings-group-title) {color: var(--main-color)!important;}
    .bd-name {color:var(--main-color);}
    .bd-meta {color:var(--hover-color);}
    .bd-addon-list .bd-addon-header>svg {fill:var(--main-color);}                                          
    .bd-addon-list .bd-addon-header {color: var(--main-color)!important;}
    
    @media only screen and (max-height: 900px)
  
    .medium_b9df4c, .sizeMedium__7ddc7 { background-color: black;}    
    
    .footer_e0b400 {
        background-color: black;
    }
    
    .content__79c45, .header__3ebb3 {display:none;}
    .list-3FIpnh>div:first-child {
        padding-left: 24px;
        padding-right: 24px;
        background-color: black;
    }
    
    .mainCard__0ec2c {
        background-color: black;
        border-radius: 12px;
    }
    
    .tag-19iIl1, .tagsButton-4pwOKH, .pill_f055c3.small_b35a0f {
        background-color: black;
    }
    
    .profilePanel-2PWEok {
    display: none;    
    }
    
    .theme-dark .container_debb33 {
        background-color: black;
    }
    
    .withTagAsButton_e22174, .withTagless__058f8 {
        background-color: black;}
    
        .form_d8a4a1 {
    background-color: black;}
    
    .container_debb33 .title__4a7a9 {
        color: var(--main-color);
    }
    
    .button_b82d53.buttonColor__7bad9, .button_b82d53 .buttonColor__7bad9 {
        background-color: black;
        color: var(--main-color);
    }
    
    .search_ac353c .searchBar__5a20a, .libraryFilter__4f521, .browseSearch-e9jF-f {
        background-color: black;
    }
    .bd-meta {
      color: var(--hover-color)!important;}
    
    .foreground__635e9 {
        color: var(--main-color);
    }
    
    .UserDetails-dates-container svg { 
     fill: #13A10E !important;
    }
    
    .base__87e58:hover{background:none;}
    .clickable__0b25f[aria-disabled=false]>.base__87e58:hover, .clickable__0b25f[aria-selected=true]>.base__87e58 {
        background-color:#eceae8!important; opacity: .6!important; }
    
    .contents_d3ae0d > .header__6a14d > .headerText_bd68ec >.username__0b0e7{
      display: inline-block;
      text-overflow: ellipsis;
      max-width: 30%;
      white-space: nowrap;
    }
    
    .roleName__851c9{
    color:var(--main-color)!important;
    }
    
    .username__0b0e7{
        color: var(--text-normal)!important;
    }
    
    .unreadMentionsIndicatorBottom__9351c, .unreadMentionsBar__8cd45:before, .unread__75c9f:after, .mention_dd733a:after {
        Display:none;
        }
    
    .roleName__851c9{color:var(--main-color)!important;}
    
    .textarea__0461c::placeholder, .body-1Ukv50 .userInfoSection-2u2hir>.note-3M15gE>textarea::placeholder {
      color: var(--main-color);
    }
    
    .emoji__814a3, .icon__1ab4f {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    color: var(--main-color); 
    }
    
    .UserDetails-activity-container {
    color: var(--main-color);
    }
    
    .offline__55fab {
        opacity: 100%;
        filter: blur(0)!important;
    }
    
    .members__573eb .member_aa4760.offline__55fab .avatar__6337f {
        filter: grayscale(0%) blur(0);
    }
    
    .membersWrap__5ca6b {
        background: black;
    }
    .theme-dark .scroller_de945b {
        background: black;
    }
    
    .base_c0676e .container__26baa {
        background: black;
    }
    
    .scroller_e412fe {
        background-color: black;
    }
    
    @font-face {
      font-family: 'Terminal';
      font-style: normal;
      font-weight: 400;
      src: url(https://mysticentity.github.io/CustomBetterDiscordCSS/vgaoem.fon) format('opentype');
      }
    
    .headerWrapper-3iTlIT {
      background-color: var(--user-popout-overlay);
      height: var(--profile-popout-picture-size);
    }
    
    .headerWrapper-3iTlIT > .avatarPositionPremium-1zPBq9 {
      top: 16px;
    }
    
    .avatarHoverTarget__9b4a9 > .avatar-2Vndt_, svg.avatarHint__15059 {
      height: calc(var(--profile-popout-picture-size)) !important;
      width: calc(var(--profile-popout-picture-size)) !important;
      /*makes profile picture size (and its opacity filter on hover) in the profile popout bigger*/
    }
    
    svg.avatarHint__15059 {
      transition-duration: 200ms;
      transition-timing-function: ease-in-out;
      /*specifies transition setting when hovering over it*/
    }
    
    /* Makes the ClearVision logo green. because why not */
    @keyframes gradient-border {
        0%, 100% {
            background-position: 0 0;
        }
    
        99.999999999999999% {
            background-position: 130% 0;
        }
    }
    .typeWindows_e41dab > .wordmark__5b8c9:before {
      background-image: linear-gradient(to left, #16ca0d, #17ce0d, #17d20d, #18d60e, #18db0e, #19df0e, #19e30e, #1ae70e, #1aeb0f, #1bf00f, #1bf40f, #1cf80f);
        animation: gradient-border 2s linear infinite;
        background-size: 400% 100%;
        color: transparent !important;
        -webkit-background-clip: text;
        position: relative;
        margin-bottom: 3px;
        z-index: 1;
      font-size: 14px;
    }
    
    .typeWindows_e41dab>.wordmark__5b8c9:after {
      background-image: linear-gradient(to left, #16ca0d, #17ce0d, #17d20d, #18d60e, #18db0e, #19df0e, #19e30e, #1ae70e, #1aeb0f, #1bf00f, #1bf40f, #1cf80f);
        animation: gradient-border 2s linear infinite;
        background-size: 400% 100%;
        color: transparent !important;
        -webkit-background-clip: text;
        position: relative;
        margin-bottom: 0px;
        z-index: 1;
      font-size: 9px;
    }
.wrapper__612a5.modeUnreadImportant__35358 .link_ddbb36 .linkTop_c8969d .name__4eb92 {
  background-image: linear-gradient(to right, #16ca0d, #17ce0d, #17d20d, #18d60e, #18db0e, #19df0e, #19e30e, #1ae70e, #1aeb0f, #1bf00f, #1bf40f, #1cf80f);
    animation: gradient-border 2s linear infinite;
    background-size: 400% 100%;
    color: transparent !important;
    -webkit-background-clip: text;
    position: relative;
}
    
    /* Makes the ClearVision logo in the bottom left green. because why not */
    .container_debb33:before {
      background-image: linear-gradient(to left, #16ca0d, #17ce0d, #17d20d, #18d60e, #18db0e, #19df0e, #19e30e, #1ae70e, #1aeb0f, #1bf00f, #1bf40f, #1cf80f);
        animation: gradient-border 2s linear infinite;
        background-size: 400% 100%;
        color: transparent !important;
        -webkit-background-clip: text;
      
    }
      .container_debb33:after {
       background-image: linear-gradient(to left, #16ca0d, #17ce0d, #17d20d, #18d60e, #18db0e, #19df0e, #19e30e, #1ae70e, #1aeb0f, #1bf00f, #1bf40f, #1cf80f);
        animation: gradient-border 2s linear infinite;
        background-size: 400% 100%;
        color: transparent !important;
        -webkit-background-clip: text;
    }

    
    .nameTagWithCustomStatus-5c-v3-, .nameTag__1d385, .username-1g6Iq1 {
    color: var(--main-color)!important;}
    .username__7d629 {color:var(--main-color);}
    
    .tabBar-2hXqzU>.item-3XjbnG.selected-g-kMVV, .tabBar-2hXqzU>.item-3XjbnG, .tabBar-2hXqzU> .tabBarItem_ce14f3[style*="color: rgb(255, 255, 255)"] .item-3XjbnG {
    color: var(--main-color)!important;}
    
    .additionalActionsIcon-3Cy8UU {
    background: url(https://mysticentity.github.io/CustomBetterDiscordCSS/Expand_More.svg) center/36px no-repeat !important;}
      
      .textarea__0461c::placeholder {
      color: #13A10E;
    }
      .inputDefault-3FGxgL, .input-2g-os5, .input__2c88a::placeholder {
          color:var(--main-color)!important;
    }
    
    .connectedAccountNameText-2m46Qn {
    color: var(--main-color)!important;
    }
      
    .textarea__0461c::placeholder, .body-1Ukv50 .userInfoSection-2u2hir>.note-3M15gE>textarea::placeholder {
      color: var(--main-color);
    }
     .placeholder_dec8c7 {
      color: var(--main-color)!important;
    }
    
    .tabBar__73938 .item_e4ca95 {
        color: var(--main-color)!important;
    }
    
    .input__48d49 {
        background: black;
    }
    
    .container__33507 {
        background-color: var(--main-color);
    }
    
    .tabBar__73938 .addFriend__4c0a2.addFriend__4c0a2.addFriend__4c0a2[aria-selected=true] {
        background-color: var(--background-modifier-selected);}
    
        .input__3006b {
        background-color: black;
    }
    
    .addFriendInputWrapper__2b30b {
        background-color: black;
        box-shadow: 0 0 0 2px var(--main-color);
        border: none;
    }
    .lookFilled__950dd.colorBrand__27d57:disabled, .lookFilled__950dd.colorBrand__27d57[aria-disabled=true] {
        background-color: var(--main-color)!important;
    }
    
    .actionButtons__85e3c {
    background-color: black;
    }
    
    .container_e1958d {
        border-color: rgba(0,0,0,0);
        background-color: black;
    }
    
    .button_b82d53.buttonColor__7bad9.buttonActive_ae686f {
        color: var(--main-color);
        background-color: var(--background-modifier-selected);
    }
    
    .button_b82d53.buttonColor__7bad9.buttonActive_ae686f:hover {
        color: var(--main-color);
        background-color: var(--background-modifier-selected)!important;
    }
    
    .text-sm-medium_bc6ffc, .text-sm-normal__95a78 {
        color: var(--main-color)!important;
    }
    
    .button_ae40a4 {
        opacity: 1;
        color: var(--main-color);
    }
    
    .panels__58331>:first-child {
        background-color: black;
    }
    
    .searchBar__621ec .searchBarComponent__8f95f {
        color: var(--main-color);
    }
    
    .container_e1958d {
        background-color:black;
    }
    
    .button_b82d53.buttonColor__7bad9.buttonActive_ae686f:hover {
        color: var(--main-color);
        background-color: var(--background-modifier-selected);
    }
    
    .headerText_f4ced9, .participantName__35466, .header__43611, .bottomControls_bb6a85, .controlIcon__73723:hover {color: var(--background-modifier-selected)!important;}
    
    .scrollerBase_f742b2 {
        background-color: black!important;
    }
    
    .panelBanner__7d7e2 {
      background-color: black!important;
    ;
    }
    
    .userPanelOverlayBackground__41589, .userProfileModalOverlayBackground__7ec35 {
        background-color: black!important;
    }
    
    .defaultColor__8610e {
        color: var(--main-color)!important;
    }
    
    .userTagUsernameBase__2bd24 {
        color: var(--hover-color);
    }
    
    .icon__67ab4 {
        color: var(--main-color)!important;
    }
    
