/*! CustomCSS*/
:root
  .wrapper__8436d:hover .childWrapper_a6ce15, .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15 {background: transparent !important;}
    .toolbar__9293f .iconWrapper__9293f .icon__9293f {color: var(--main-color)!important;}
    .container__9293f .topic__6ec1a {color: var(--main-color) !important;}
    .toolbar__9293f .iconWrapper__9293f.selected__9293f, .toolbar__9293f .iconWrapper__9293f.icon__9293f.popout-open {background-color: transparent!important;}
    .container__9293f .children__9293f .title__9293f { color: var(--main-color);}
    .container__2637a .header_f37cb1 .name_f37cb1, .button__353c4 {color: var(--main-color) !important;}
    .peopleList__5ec2f .username__0a06e {color: var(--main-color) !important;}
    .actions_fc004c .actionButton_f8fa06 .icon_f8fa06 {color: #949494 !important;}
    .scroller__7d20c .header__7d20c, .defaultColor-HXu-5n, .text-sm-medium_bc6ffc, .text-sm-normal-3Zj3Iv {color: var(--main-color) !important;}
    .channelTextArea__74017 .button__24af7 { color: var(--main-color)!important;}
    .text-xs-bold__5467c .goalText_eff079, .text-xs-normal__46d75, .count_eff079 {color: var(--main-color) !important;}
    .container__37e49, .subtext__339d0 {color: var(--main-color) !important;}
    .headerText_e4cb9a, .participantName__2cdb8, .header_c6e099, .bottomControls_e4cb9a, .controlIcon_f1ceac {color: var(--main-color) !important;}
    .headerText_e4cb9a, .participantName__2cdb8, .header_c6e099, .bottomControls_e4cb9a, .controlIcon_f1ceac:hover {color: var(--background-modifier-selected)!important;}
    #app-mount .guilds_c48ade .frame-oXWS21[class*=listItem] .button-Jt-tIg {color: var(--hover-color) !important;}
    .button__67645>.contents-3ca1mk>svg {color: var(--hover-color); opacity: .7 !important;}
    /*.channelName-3KPsGw, .subtitle__2ea32 {color: var(--hover-color);}*/
    .wrapper__2ea32 .name__2ea32 {color: var(--hover-color);}
    .wrapper__2ea32:active .name__2ea32 {color: black;}
    .nameAndDecorators__20a53 {color: var(--hover-color) !important;}
    .premiumTrialAcknowledgedBadge-2QxbU_ {background-color: var(--hover-color) !important; color:black !important; }
    .avatar__20a53 {color: var(--hover-color) !important;}
    /*.wrapper__8436d:hover .childWrapper_a6ce15, .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15 {background-color:var(--svg-bcolor);}*/
    /*.toolbar-1t6TWx .iconWrapper-2OrFZ1 .icon-22AiRD {color:var(--main-color);} 
    .toolbar-1t6TWx .iconWrapper-2OrFZ1:hover .icon-22AiRD {color:var(--hover-color);}
    .toolbar-1t6TWx .iconWrapper-2OrFZ1.selected-1GqIat, .toolbar-1t6TWx .iconWrapper-2OrFZ1.icon-22AiRD.popout-open {background: none;}*/
    .wrapper-1BJsBx:hover .childWrapper-anI2G9, .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {background: transparent;}
    .buttonWrapper-1ZmCpA .icon-3D60ES {color:var(--main-color);} 
    .buttonWrapper-1ZmCpA:hover .icon-3D60ES {color:var(--hover-color);} .button-14-BFJ> .contents-18-Yxp>svg {color:var(--button-color);}
    .quickSelectValue-lImyM6 {color:var(--hover-color);}
    .quickSelectArrow-1QublR {color:var(--hover-color);}
    .channelTextArea-2VhZ6z .button-3AYNKb {color:var(--main-color);}
    .container-PNkimc .header-2o-2hj {color: var(--main-color); font-weight: 600; text-shadow: 0 0 3px #000;}
    .container-1r6BKw .base-1x0h_U {margin-left: 5px; color:var(--main-color); text-shadow: 0 0 3px #000;}
    .defaultColor-1_ajX0 {color: var(--main-color);}
    .container-2Pjhx- .name-uJV0GL {color: var(--main-color) !important;}
    .members-1998pB .member-3-YXUe .roleColor-rz2vM0[style*="color:"]:before, .members-1998pB .member-3-YXUe .roleColor-rz2vM0[style*="color:"]:after {background: var(--hover-color);}
    .privateChannels-1nO12o .channel-2QD9_O.selected-aXhQR6 .layout-2DM8Md:after, .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU:before {background: transparent;}
    .privateChannels-1nO12o .channel-2QD9_O.selected-aXhQR6 .linkButtonIcon-Mlm5d6 {color: var(--main-color);}
    .container-3baos1:before, .container-3baos1:after {color:var(--main-color);}
    .container-1r6BKw .topic-TCb_qw {color:var(--main-color);}
    .scrollableContainer-2NUZem {border: 2px solid var(--hover-color);}
    .title-eS5yk3 {white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: var(--main-color); line-height: 18px; font-weight: 600;}
    .subtext-3CDbHg {white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: var(--main-color); line-height: 13px;}
    .typeWindows-1za-n7>.wordmark-2iDDfm:before, .typeWindows-1za-n7>.wordmark-2iDDfm:after {color: var(--main-color) !important;}
    .rtcConnectionQualityFine-2J6i8z .pingForeground-2uAOZ3, .rtcConnectionStatusConnected-VRZDjy {color:var(--success-color);} 
    .voiceUser-14U_Ns .avatarContainer-2inGBK:after{content:"";position:absolute;width:0;top:0;bottom:0;left:50%;background:linear-gradient(to right, var(--voice-user-color) 10%, transparent);opacity:.5;transition:all .1s ease-in-out,  width .15s ease-in-out;pointer-events:none;z-index:-1} 
    .voiceUser-14U_Ns .avatarSpeaking-3MqCHL{box-shadow:0 0 0 2px var(--voice-user-color),inset 0 0 3px rgba(0,0,0,0.5)} 
    .voiceUser-14U_Ns .avatarSpeaking-3MqCHL:after{top:-2px;bottom:-2px;width:100px}
    .attachButtonPlus-jWVFah {-webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; width: 24px; height: 24px; fill:var(--main-color);}
    .attachButton-2WznTc:hover .attachButtonPlus-jWVFah {-webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; width: 24px; height: 24px; fill:var(--hover-color);}
    .attachButtonPlay-3iJ0mf {color: var(--main-color);}
    .voiceUser-14U_Ns .icon-3BcwQu, .username-lm8y6T {color: var(--main-color);}
    .buttonWrapper-1ZmCpA .icon-3D60ES {color:var(--main-color);}
    .buttonWrapper-1ZmCpA:hover .icon-3D60ES {color:var(--hover-color);}
    .winButton-iRh8-Z {color: var(--main-color);}
    .winButton-iRh8-Z:hover {color: var(--hover-color);}
    .typeWindows__421ed>.winButton__421ed:hover {background:linear-gradient(to right, var(--hover-color) 10%, transparent);opacity:.5;}
    .circleIconButton-jET_ig:hover, .circleIconButton-jET_ig.selected-ugP_am { background: var(--main-color); color: white;}
    .circleIconButton-jET_ig {background: rgba(0,0,0,0.3); color: var(--main-color);}
    .buttonContainer__74017 .emojiButton__04eed .sprite__04eed {background-image: url(https://mysticentity.github.io/CustomBetterDiscordCSS/greenEmotesv2.png); filter: grayscale(0%)!important; background-position: 50%; background-repeat: no-repeat; width: 22px; height: 22px; display: block !important;}
    .wrapper-1ucjTd.modeUnread-1zpFdA .content-3at_AU .name-3_Dsmg, .wrapper-1ucjTd.modeUnread-1zpFdA .content-3at_AU .icon-1_QxNX{text-shadow: 0 0 0px !important; filter: none;}
    .theme-dark .headerNormal-T_seeN, /*A border for user profiles, popouts*/ .theme-dark .topSectionNormal-2-vo2m {background-color: rgba(0,0,0,0.4);border: 2px solid var(--main-color);}
    .headerTop-3C2Zn0{background-color: rgba(0,0,0,0.4);border-left: 2px solid var(--main-color);border-right: 2px solid var(--main-color);border-top: 2px solid var(--main-color);border-bottom: 2px solid var(--main-color);}
    .activity-11LB_k{background-color: rgba(0,0,0,0.4);border-left: 2px solid var(--main-color);border-right: 2px solid var(--main-color);border-bottom: 2px solid var(--main-color);}
    .message__5126c .timestamp_c19a55 {text-align: center; color: var(--hover-color);}
    .username-Iwoq2j, .textOverflow-1Hn8ac {color: var(--main-color)!important;}
    .headerText-cdBwty {color:var(--main-color)!important;}
    .userActionMenu-3-DfuT .overflowMenuIcon-35A0oT {color:var(--main-color);}
    .headerText-1-WmDq .date-YN6TCS {color:var(--main-color);}
    .activityText__5d473 .textRuler_c9d15c .activityText__5d473 {color:var(--hover-color);}
    .text-xs-bold__5467c.goalText_eff079 {color:var(--main-color)!important;}
    button.button__67645>.contents__201d5>.lottieIcon__5eb9b path {fill: var(--main-color)!important;}
    .flowerStarContainer__3e3b0 > svg > path {fill: var(--main-color);}
    .messageCountIcon_faa96b>svg{color: var(--main-color);}
    .hasRead_faa96b .messageCountText_faa96b {color: var(--main-color);}
    .searchIcon_d9be46 {color:var(--main-color)!important;}
    .textArea__7aff3::placeholder, .titleContainer_d9be46>.inputWrapper__0f084.flex__7aff3>inputMaxLength__7aff3.flex__7aff3>textarea::placeholder {color: var(--main-color);}                                         
    .sortDropdown_f369db, .sortDropdownText_f369db {background:black!important; color: var(--main-color) !important;}
    .sortDropdown_f369db .sortDropdownInner_f369db {color: var(--main-color)!important;}
    pre .hljs {background: rgba(0,0,0,.42); border: solid; color: var(--main-color);}
    .buttonInner__34c2c {color:var(--main-color);}
    .tagsButton_f369db { background: rgba(0,0,0,.6); border: 2px solid; border-color: var(--main-color);}
    .tagsButtonInner_f369db {color:var(--main-color)!important;}
    .embed__623de .embedDescription__623de {color: var(--hover-color);}
    .lookFilled__201d5.colorBrand__201d5 {background: black; color: var(--main-color);}
    .markup__75297 code.inline {background-color: rgba(255,255,255,.00); color: var(--main-color);}
    .users__260e1, .total__260e1 {color: var(--hover-color)!important;}
    .text-sm-semibold_d260b0 {color: var(--main-color);}
    .forumPostFormButton_d9be46 {color:var(--main-color)!important;}
    .container__37e49 {color:var(--hovor-color);}
    .discrimBase-1VOoau {color: var(--main-color);}
    .customStatusText-3wj79x {color: var(--main-color);}
    .iconContainer__2ea32 .icon__2ea32 {color: var(--main-color);}                                          
    .text-md-medium-2avxhQ, .text-md-normal-304U3g {color: var(--main-color)!important;}
    .heading-lg-semibold__58a54 {color: var(--main-color)!important;}
    .closeButton_c2b141>svg>path[fill*="currentColor"] {fill: var(--main-color);}
    .bd-settings-title {color: var(--main-color)}
    .theme-dark .closeButton_c2b141 {border-color: var(--main-color);}
    .heading-xxl-extrabold__3d05f {color: var(--main-color);}
    .repliedMessage_c19a55 .repliedTextPreview_c19a55 .repliedTextContent_c19a55 {color: var(--main-color);}
    .repliedMessage_c19a55 .repliedTextPreview_c19a55 {opacity: 1.0;}                                          
    .channelTextArea__74017 .placeholder__1b31f {color:var(--main-color)!important;}
    .bd-settings-title:not(.bd-settings-group-title) {color: var(--main-color)!important;}
    .bd-name {color:var(--main-color);}
    .bd-meta {color:var(--hover-color);}
    .bd-addon-list .bd-addon-header>svg {fill:var(--main-color);}                                          
    .bd-addon-list .bd-addon-header {color: var(--main-color)!important;}
    
    @media only screen and (max-height: 900px)
  
    .medium__49fc1, .sizeMedium__7f8f5 { background-color: black;}    
    
    .footer__49fc1 {
        background-color: black;
    }
    
    .content_bd9e38, .header_bd9e38 {display:none;}
    .list-3FIpnh>div:first-child {
        padding-left: 24px;
        padding-right: 24px;
        background-color: black;
    }
    
    .mainCard_f369db {
        background-color: black;
        border-radius: 12px;
    }
    
    .tag-19iIl1, .tagsButton-4pwOKH, .pill_a2c9e8.small_a2c9e8 {
        background-color: black;
    }
    
    .profilePanel-2PWEok {
    display: none;    
    }
    
    .theme-dark .container__37e49 {
        background-color: black;
    }
    
    .withTagAsButton_b2ca13, .withTagless_b2ca13 {
        background-color: black;}
    
        .form_f75fb0 {
    background-color: black;}
    
    .container__37e49 .title_d1da5f {
        color: var(--main-color);
    }
    
    .button_e131a9.buttonColor_e131a9, .button_e131a9 .buttonColor_e131a9 {
        background-color: black;
        color: var(--main-color);
    }
    
    .search__97492 .searchBar__97492, .libraryFilter__3fb48, .browseSearch-e9jF-f {
        background-color: black;
    }
    .bd-meta {
      color: var(--hover-color)!important;}
    
    .foreground__7df54 {
        color: var(--main-color);
    }
    
    .UserDetails-dates-container svg { 
     fill: #13A10E !important;
    }
    
    .base__13533:hover{background:none;}
    .clickable__13533[aria-disabled=false]>.base__13533:hover, .clickable__13533[aria-selected=true]>.base__13533 {
        background-color:#eceae8!important; opacity: .6!important; }
    
    .contents_c19a55 > .header_c19a55 > .headerText_c19a55 >.username_c19a55{
      display: inline-block;
      text-overflow: ellipsis;
      max-width: 30%;
      white-space: nowrap;
    }
    
    .roleName__48c1c{
    color:var(--main-color)!important;
    }
    
    .username_c19a55{
        color: var(--text-normal)!important;
    }
    
    .unreadMentionsIndicatorBottom_ef3116, .unreadMentionsBar_ef3116:before, .unread__3b95d:after, .mention__3b95d:after {
        Display:none;
        }
    
    .roleName__48c1c{color:var(--main-color)!important;}
    
    .textarea_dde0a8::placeholder, .body-1Ukv50 .userInfoSection-2u2hir>.note-3M15gE>textarea::placeholder {
      color: var(--main-color);
    }
    
    .emoji_e463a5, .icon_c9d15c {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    color: var(--main-color); 
    }
    
    .UserDetails-activity-container {
    color: var(--main-color);
    }
    
    .offline__5d473 {
        opacity: 100%;
        filter: blur(0)!important;
    }
    
    .members_c8ffbb .member__5d473.offline__5d473 .avatar__91a9d {
        filter: grayscale(0%) blur(0);
    }
    
    .membersWrap_c8ffbb {
        background: black;
    }
    .theme-dark .scroller_ef3116 {
        background: black;
    }
    
    .base_c48ade .container__9293f {
        background: black;
    }
    
    .scroller__36d07 {
        background-color: black;
    }
    
    @font-face {
      font-family: 'Terminal';
      font-style: normal;
      font-weight: 400;
      src: url(https://mysticentity.github.io/CustomBetterDiscordCSS/vgaoem.fon) format('opentype');
      }
    
    .headerWrapper-3iTlIT {
      background-color: var(--user-popout-overlay);
      height: var(--profile-popout-picture-size);
    }
    
    .headerWrapper-3iTlIT > .avatarPositionPremium-1zPBq9 {
      top: 16px;
    }
    
    .avatarHoverTarget_f89da9 > .avatar-2Vndt_, svg.avatarHint_f89da9 {
      height: calc(var(--profile-popout-picture-size)) !important;
      width: calc(var(--profile-popout-picture-size)) !important;
      /*makes profile picture size (and its opacity filter on hover) in the profile popout bigger*/
    }
    
    svg.avatarHint_f89da9 {
      transition-duration: 200ms;
      transition-timing-function: ease-in-out;
      /*specifies transition setting when hovering over it*/
    }
    
    /* Makes the ClearVision logo green. because why not */
   @keyframes gradient-border {
    0%, 200% {
        background-position: 100% 0;
    }

    100% {
        background-position: -130% 0;
    }
}
.typeWindows__421ed > .wordmark__421ed:before {
  background-image: linear-gradient(to right, #16ca0d, #17ce0d, #17d20d, #18d60e, #18db0e, #19df0e, #19e30e, #1ae70e, #1aeb0f, #1bf00f, #1bf40f, #1cf80f);
    animation: gradient-border 2s linear infinite;
    background-size: 400% 100%;
    color: transparent !important;
    -webkit-background-clip: text;
    position: relative;
    margin-bottom: 3px;
    z-index: 1;
  font-size: 14px;
}

.typeWindows__421ed>.wordmark__421ed:after {
  background-image: linear-gradient(to right, #16ca0d, #17ce0d, #17d20d, #18d60e, #18db0e, #19df0e, #19e30e, #1ae70e, #1aeb0f, #1bf00f, #1bf40f, #1cf80f);
    animation: gradient-border 2s linear infinite;
    background-size: 400% 100%;
    color: transparent !important;
    -webkit-background-clip: text;
    position: relative;
    margin-bottom: 0px;
    z-index: 1;
  font-size: 9px;
}
.wrapper__2ea32.modeUnreadImportant__2ea32 .link__2ea32 .linkTop__2ea32 .name__2ea32 {
  background-image: linear-gradient(to right, #16ca0d, #17ce0d, #17d20d, #18d60e, #18db0e, #19df0e, #19e30e, #1ae70e, #1aeb0f, #1bf00f, #1bf40f, #1cf80f);
    animation: gradient-border 2s linear infinite;
    background-size: 400% 100%;
    color: transparent !important;
    -webkit-background-clip: text;
    position: relative;
}
    
    /* Makes the ClearVision logo in the bottom left green. because why not */
    .container__37e49:before {
      background-image: linear-gradient(to left, #16ca0d, #17ce0d, #17d20d, #18d60e, #18db0e, #19df0e, #19e30e, #1ae70e, #1aeb0f, #1bf00f, #1bf40f, #1cf80f);
        animation: gradient-border 2s linear infinite;
        background-size: 400% 100%;
        color: transparent !important;
        -webkit-background-clip: text;
      
    }
      .container__37e49:after {
       background-image: linear-gradient(to left, #16ca0d, #17ce0d, #17d20d, #18d60e, #18db0e, #19df0e, #19e30e, #1ae70e, #1aeb0f, #1bf00f, #1bf40f, #1cf80f);
        animation: gradient-border 2s linear infinite;
        background-size: 400% 100%;
        color: transparent !important;
        -webkit-background-clip: text;
    }

    
    .nameTagWithCustomStatus-5c-v3-, .nameTag__05e81, .username-1g6Iq1 {
    color: var(--main-color)!important;}
    .username__05e81 {color:var(--main-color);}
    
    .tabBar-2hXqzU>.item-3XjbnG.selected-g-kMVV, .tabBar-2hXqzU>.item-3XjbnG, .tabBar-2hXqzU> .tabBarItem_b9fccc[style*="color: rgb(255, 255, 255)"] .item-3XjbnG {
    color: var(--main-color)!important;}
    
    .additionalActionsIcon-3Cy8UU {
    background: url(https://mysticentity.github.io/CustomBetterDiscordCSS/Expand_More.svg) center/36px no-repeat !important;}
      
      .textarea_dde0a8::placeholder {
      color: #13A10E;
    }
      .inputDefault-3FGxgL, .input-2g-os5, .input_df4dd0::placeholder {
          color:var(--main-color)!important;
    }
    
    .connectedAccountNameText-2m46Qn {
    color: var(--main-color)!important;
    }
      
    .textarea_dde0a8::placeholder, .body-1Ukv50 .userInfoSection-2u2hir>.note-3M15gE>textarea::placeholder {
      color: var(--main-color);
    }
     .placeholder__1b31f {
      color: var(--main-color)!important;
    }
    
    .tabBar__133bf .item__133bf {
        color: var(--main-color)!important;
    }
    
    .input__48d49 {
        background: black;
    }
    
    .container__33507 {
        background-color: var(--main-color);
    }
    
    .tabBar__133bf .addFriend__133bf.addFriend__133bf.addFriend__133bf[aria-selected=true] {
        background-color: var(--background-modifier-selected);}
    
        .input__72ba7 {
        background-color: black;
    }
    
    .addFriendInputWrapper__72ba7 {
        background-color: black;
        box-shadow: 0 0 0 2px var(--main-color);
        border: none;
    }
    .lookFilled__201d5.colorBrand__201d5:disabled, .lookFilled__201d5.colorBrand__201d5[aria-disabled=true] {
        background-color: var(--main-color)!important;
    }
    
    .actionButtons_e131a9 {
    background-color: black;
    }
    
    .container_e131a9 {
        border-color: rgba(0,0,0,0);
        background-color: black;
    }
    
    .button_e131a9.buttonColor_e131a9.buttonActive_e131a9 {
        color: var(--main-color);
        background-color: var(--background-modifier-selected);
    }
    
    .button_e131a9.buttonColor_e131a9.buttonActive_e131a9:hover {
        color: var(--main-color);
        background-color: var(--background-modifier-selected)!important;
    }
    
    .text-sm-medium_bc6ffc, .text-sm-normal__95a78 {
        color: var(--main-color)!important;
    }
    
    .button__67645 {
        opacity: 1;
        color: var(--main-color);
    }
    
    .panels_c48ade>:first-child {
        background-color: black;
    }
    
    .searchBar__35e86 .searchBarComponent__35e86 {
        color: var(--main-color);
    }
    
    .container_e131a9 {
        background-color:black;
    }
    
    .button_e131a9.buttonColor_e131a9.buttonActive_e131a9:hover {
        color: var(--main-color);
        background-color: var(--background-modifier-selected);
    }
    
    .headerText_e4cb9a, .participantName__2cdb8, .header_c6e099, .bottomControls_e4cb9a, .controlIcon_f1ceac:hover {color: var(--background-modifier-selected)!important;}
    
    .scrollerBase__99f8c {
        background-color: black!important;
    }
    
    .panelBanner_c3e427 {
      background-color: black!important;
    ;
    }
    
    .userPanelOverlayBackground_a2b6ae, .userProfileModalOverlayBackground_c69a7b {
        background-color: black!important;
    }
    
    .defaultColor_e9e35f {
        color: var(--main-color)!important;
    }
    
    .userTagUsernameBase_c9ccf6 {
        color: var(--hover-color);
    }
    
    .icon__2ea32 {
        color: var(--main-color)!important;
    }
    
    .icon_d8bfb3 {
        color: var(--main-color)!important;
    }
