/*! CustomCSS*/ :root
.wrapper-3kah-n:hover .childWrapper-1j_1ub, .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub {background: transparent !important;}
.toolbar-3_r2xA .iconWrapper-2awDjA .icon-2xnN2Y
{color: var(--main-color)!important;}
.container-ZMc96U .topic-11NuQZ {color: var(--main-color) !important;}
.toolbar-3_r2xA .iconWrapper-2awDjA.selected-29KTGM, .toolbar-3_r2xA .iconWrapper-2awDjA.icon-2xnN2Y.popout-open {
background-color: transparent!important;}
.container-ZMc96U .children-3xh0VB .title-17SveM { color: var(--main-color);}
.container-1NXEtd .header-3OsQeK .name-3Uvkvr, .button-2BMPJJ {color: var(--main-color) !important;}
.peopleList-2VBrVI .username-Qpc78p {color: var(--main-color) !important;}
.actions-YHvpIT .actionButton-3-B2x- .icon-1WVg4I {color: #949494 !important;}
.scroller-hE2gWq .header-Imy05m, .defaultColor-HXu-5n, .text-sm-medium-3Pz3rB, .text-sm-normal-3Zj3Iv {color: var(--main-color) !important;}
.channelTextArea-1VQBuV .button-2fCJ0o { color: var(--main-color)!important;}
.goalText-mbRUAP .text-xs-medium-2LRpEj, .text-xs-normal-3SiVjE, .count-e4ipkH, .container-YkUktl, .subtext-2HDqJ7 {color: var(--main-color) !important;}
.headerText-2cy0o5, .participantName-1xQQfc, .header-1BxQhu, .bottomControls-34xgN7, .controlIcon-10O-4h {color: var(--main-color) !important;}
#app-mount .guilds-2JjMmN .frame-oXWS21[class*=listItem] .button-Jt-tIg {color: var(--hover-color) !important;}
.button-12Fmur>.contents-3ca1mk>svg {color: var(--main-color) !important;}
.channelName-3KPsGw, .subtitle-3PyFgf {color: var(--hover-color);}
.nameAndDecorators-2A8Bbk {color: var(--hover-color) !important;}
.premiumTrialAcknowledgedBadge-2QxbU_ {background-color: var(--hover-color) 
  color:black !important;}
.avatar-1HDIsL {color: var(--hover-color) !important;}
/*.wrapper-3kah-n:hover .childWrapper-1j_1ub, .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub {background-color:var(--svg-bcolor);}*/
/*.toolbar-1t6TWx .iconWrapper-2OrFZ1 .icon-22AiRD {color:var(--main-color);} 
.toolbar-1t6TWx .iconWrapper-2OrFZ1:hover .icon-22AiRD {color:var(--hover-color);}
.toolbar-1t6TWx .iconWrapper-2OrFZ1.selected-1GqIat, .toolbar-1t6TWx .iconWrapper-2OrFZ1.icon-22AiRD.popout-open {background: none;}*/
.wrapper-1BJsBx:hover .childWrapper-anI2G9, .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {background: transparent;}
.buttonWrapper-1ZmCpA .icon-3D60ES {color:var(--main-color);} 
.buttonWrapper-1ZmCpA:hover .icon-3D60ES {color:var(--hover-color);} .button-14-BFJ> .contents-18-Yxp>svg {color:var(--button-color);}
.quickSelectValue-lImyM6 {color:var(--hover-color);}
.quickSelectArrow-1QublR {color:var(--hover-color);}
.channelTextArea-2VhZ6z .button-3AYNKb {color:var(--main-color);}
.container-PNkimc .header-2o-2hj {color: var(--main-color); font-weight: 600; text-shadow: 0 0 3px #000;}
.container-1r6BKw .base-1x0h_U {margin-left: 5px; color:var(--main-color); text-shadow: 0 0 3px #000;}
.defaultColor-1_ajX0 {color: var(--main-color);}
.container-2Pjhx- .name-uJV0GL {color: var(--main-color) !important;}
.members-1998pB .member-3-YXUe .roleColor-rz2vM0[style*="color:"]:before, .members-1998pB .member-3-YXUe .roleColor-rz2vM0[style*="color:"]:after {background: var(--hover-color);}
.privateChannels-1nO12o .channel-2QD9_O.selected-aXhQR6 .layout-2DM8Md:after, .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU:before {background: transparent;}
.privateChannels-1nO12o .channel-2QD9_O.selected-aXhQR6 .linkButtonIcon-Mlm5d6 {color: var(--main-color);}
.container-3baos1:before, .container-3baos1:after {color:var(--main-color);}
.container-1r6BKw .topic-TCb_qw {color:var(--main-color);}
.scrollableContainer-2NUZem {border: 2px solid var(--hover-color);}
.title-eS5yk3 {white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: var(--main-color); line-height: 18px; font-weight: 600;}
.subtext-3CDbHg {white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: var(--main-color); line-height: 13px;}
.typeWindows-1za-n7>.wordmark-2iDDfm:before, .typeWindows-1za-n7>.wordmark-2iDDfm:after {color: var(--main-color) !important;}
.rtcConnectionQualityFine-2J6i8z .pingForeground-2uAOZ3, .rtcConnectionStatusConnected-VRZDjy {color:var(--success-color);} 
.voiceUser-14U_Ns .avatarContainer-2inGBK:after{content:"";position:absolute;width:0;top:0;bottom:0;left:50%;background:linear-gradient(to right, var(--voice-user-color) 10%, transparent);opacity:.5;transition:all .1s ease-in-out,  width .15s ease-in-out;pointer-events:none;z-index:-1} 
.voiceUser-14U_Ns .avatarSpeaking-3MqCHL{box-shadow:0 0 0 2px var(--voice-user-color),inset 0 0 3px rgba(0,0,0,0.5)} 
.voiceUser-14U_Ns .avatarSpeaking-3MqCHL:after{top:-2px;bottom:-2px;width:100px}
.attachButtonPlus-jWVFah {-webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; width: 24px; height: 24px; fill:var(--main-color);}
.attachButton-2WznTc:hover .attachButtonPlus-jWVFah {-webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; width: 24px; height: 24px; fill:var(--hover-color);}
.attachButtonPlay-3iJ0mf {color: var(--main-color);}
.voiceUser-14U_Ns .icon-3BcwQu, .username-lm8y6T {color: var(--main-color);}
.buttonWrapper-1ZmCpA .icon-3D60ES {color:var(--main-color);}
.buttonWrapper-1ZmCpA:hover .icon-3D60ES {color:var(--hover-color);}
.winButton-iRh8-Z {color: var(--main-color);}
.winButton-iRh8-Z:hover {color: var(--hover-color);}
.typeWindows-1za-n7>.winButtonClose-1HsbF-:hover {background:linear-gradient(to right, var(--hover-color) 10%, transparent);opacity:.5;}
.circleIconButton-jET_ig:hover, .circleIconButton-jET_ig.selected-ugP_am { background: --main-color; color: white;}
.circleIconButton-jET_ig {background: rgba(0,0,0,0.3); color: var(--main-color);}
.buttonContainer-2lnNiN .emojiButton-3FRTuj .sprite-2lxwfc {background-image: url(https://mysticentity.github.io/CustomBetterDiscordCSS/greenEmotesv2.png); filter: grayscale(0%); background-position: 50%; background-repeat: no-repeat; width: 22px; height: 22px; display: block !important;}
.wrapper-1ucjTd.modeUnread-1zpFdA .content-3at_AU .name-3_Dsmg, .wrapper-1ucjTd.modeUnread-1zpFdA .content-3at_AU .icon-1_QxNX{text-shadow: 0 0 0px !important; filter: none;}
.theme-dark .headerNormal-T_seeN, /*A border for user profiles, popouts*/ .theme-dark .topSectionNormal-2-vo2m {background-color: rgba(0,0,0,0.4);border: 2px solid var(--main-color);}
.headerTop-3C2Zn0{background-color: rgba(0,0,0,0.4);border-left: 2px solid var(--main-color);border-right: 2px solid var(--main-color);border-top: 2px solid var(--main-color);border-bottom: 2px solid var(--main-color);}
.activity-11LB_k{background-color: rgba(0,0,0,0.4);border-left: 2px solid var(--main-color);border-right: 2px solid var(--main-color);border-bottom: 2px solid var(--main-color);}
